.contactsList {
	margin:20px 0 20px 50px;
}

.contactItem {
	display:flex;
	flex-direction:row;
}

.contactName {
	padding: 15px 0 0 20px;
}

.buttons {
	padding: 10px 0 0 20px;
}

.contactbuttons{
	margin: 5px 10px 5px 10px;
}